/*
 * Qui ci vanno tutte le modifiche delle pagine
 */

html, body {
	height: 100%;
	display: block;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 28px;
	font-size: 16px;
	margin: 0;
	color: #7F8289;
}

h1, h2, h3, h4, h5, h6 {
	color: #FFFFFF;
	font-weight: 500;
	line-height: 1.5em;
}

.title-page {
	font-size: 24px;
	font-weight: 400;
	margin: 0 0 30px;
}

.title-page .title {
	font-size: 48px;
	margin: 0 0 5px;
}

.title-page .title-description {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 30px;
}

li {
    line-height: 30px;
}

.navbar {
	background: none repeat scroll 0 0 #26292E;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	height: 60px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1001;
}

.page {
	background: none repeat scroll 0 0 #2F3238;
	padding: 100px 0;
    position: relative;
    z-index: 99;
    color: #7F8289;
}

.page-alternate {
	background: none repeat scroll 0 0 #26292E;
	padding: 100px 0;
	z-index: 99;
}