---
title: DLion ~ Blog
---
<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <title>{{site.description}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="author" href="https://plus.google.com/+DomenicoLeoneLuciani/posts"/>
    <!-- SEO -->
    {% if paginator.page > 1 %}
        <link rel="canonical" href="{{site.url}}/page/{{paginator.page}}" />
        <meta name="twitter:url" content="{{site.url}}/page/{{paginator.page}}">
    {% else %}
        <link rel="canonical" href="{{site.url}}/" />
    {% endif %}
    {% if paginator.next_page %}
        <link rel="next" href="{{site.url}}/page/{{ paginator.next_page }}" />
    {% endif %}
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Domenico Luciani | DLion ~ Blog">
    <meta itemprop="description" content="Il Blog di Domenico Luciani aka DLion">
    <meta itemprop="image" content="{{site.url}}/public/img/pic.jpg">
    <!-- Open Graph data -->
    <meta property="og:locale" content="it_IT" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Domenico Luciani | DLion ~ Blog" />
    <meta property="og:description" content="Il Blog di Domenico Luciani aka DLion" />
    <meta property="og:url" content="{{site.url}}/" />
    <meta property="og:site_name" content="Domenico Luciani | DLion ~ Blog" />
    <meta property="og:image" content="{{site.url}}/public/img/pic.jpg" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="dlion92">
    <meta name="twitter:title" content="Domenico Luciani | DLion ~ Blog">
    <meta name="twitter:description" content="Il Blog di Domenico Luciani aka DLion">
    <meta name="twitter:creator" content="dlion92">
    <meta name="twitter:creator:id" content="dlion92">
    <meta name="twitter:image:src" content="{{site.url}}/public/img/pic.jpg">
    <meta name="twitter:domain" content="{{site.url}}">
    <!-- FINE SEO -->

    <!-- FOUNDATION -->
    <link rel="stylesheet" href="public/css/foundation.min.css" />
    <link rel="stylesheet" href="public/css/custom.css" />
    <script src="public/js/vendor/modernizr.js"></script>
</head>
<body>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
            <h1><a href="#">{{site.description}}</a></h1>
            </li>
             <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li>
                    <a href="{{site.url}}/about">
                        <span class="title-menutopbar">About</span>
                    </a>
                </li>
            </ul>
        </section>
    </nav>
    <div class="row text-center">
        <div class="large-5 large-offset-1 columns" >
            <h1 id="titoloNome"><a href="{{site.url}}/">Domenico Luciani</a></h1>
        </div>
        <div class="large-6 large-centered columns" >
            <h1 id="titoloDescr" class="large-text-left">DLion ~ Blog</h1>
        </div>
    </div>

    <script src="public/js/vendor/jquery.js"></script>
    <script src="public/js/foundation.min.js"></script>
</body>
</html>
