html, body {
    background: none repeat scroll 0 0 #26292E;
}

.container {
    background: none repeat scroll 0 0 #2F3238;
}

p, h1, h2, h3, h4, h5, h6, a{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-weight: 500;
}

h4, h5, h6 {
    font-weight: 400;
}

#titoloDescr {
    color: #C0392B;
}

#titolettoNavbar {
    color: #C0392B;
}

span {
    color: #999;
}

.dataPrimoPiano >h6 {
    color: #999;
}

a {
    font-style: none;
    color: #FFFFFF;
}

#titoloNome a {
    color: #ECF0F1;
}

.contentTitoloPost h1 {
    color: #FFFFFF;
}


.contentContentPost h1, h2, h3, h4, h5, h6 {
    color: #FFF;
}
    
.contentContentPost {
    color: #BBB;
}

pre code {
    background-color: rgb(34, 34, 34);
}

/* Large, XLarge */
@media only screen and (min-width: 64.063em) and (max-width: 120em) {
    
    html, body {
        font-size: 18px;
    }
    
    /* titolo large*/
    #titoloNome {
        border-right: 2px solid #000;
        margin-top: 29px;
        padding-right: 29px;
    }
    
    /*Descrizione large*/
    #titoloDescr {
        margin-top: 30px;
    }

    /*
     * Spazio fra il titolo e il contenuto
     */
    .titolone {
        margin-bottom: 40px;
    }
    /*
     * La data
    */
    .dataPrimoPiano {
        margin-top: 28px;
    }
    
    .testoPrimoPiano {
        margin-top: 18px;
    }
    
    .container {
        padding: 20px 0px 15px 93px;
        margin-bottom: 50px
    }
    
    .contentTitoloPost h1 {
        font-weight: 800;
    }
    
    .contentContentPost {
        margin-top: 50px;
    }
}

/* Mobile */
@media only screen and (max-width: 40em) {
    
   html, body {
        font-size: 16px;
    }
    
    /*
     * Nella navbar la larghezza del titolo
     */
    .top-bar .name h1 a {
        width: 88%;
    }

    /*
     * Spazio fra il titolo e il contenuto
     */
    .container {
        margin-bottom: 24px;
        padding-bottom: 15px
    }
    
    /*
     * La data
     */
    .dataPrimoPiano {
        margin-top: 20px;
    }
    
    .contentTitoloPost h1 {
        margin-top: 5px;
    }
}
