#skills {
    padding: 100px 0;
}

.legend {
    float:left;
    width:250px;
}

.skills {
    float:left;
    clear:both;
    width:100%;
}

.skills ul, .skills li {
    display:block;
    list-style:none;
    margin:0;
    padding:0;
}

.skills li {
    float:right;
    clear:both;
    padding:0 15px;
    height:35px;
    line-height:35px;
    color:#fff;
    margin-bottom:1px;
    margin-right: 100px;
    font-size:20px;
}

.skills .php {
    background:#1abc9c;
}

.skills .sql {
    background:#2ecc71;
}

.skills .nodejs {
    background: #f1c40f;
}

.skills .bash {
    background: #9b59b6;
}

.skills .c {
    background: #e74c3c;
}

.skills .java {
    background: #2980b9;
}

.skills .csh {
    background: #bdc3c7;
}

.skills .assembly {
    background: #e67e22;
}

.get {
    display:none;
}

#plinux {
    width: 80%;
}

#pwindows {
    width: 60%;
}