.fa-github-alt {
  color: #171515;
}

.fa-twitter {
  color: #00acee;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-skype {
  color: #00aff0;
}

.fa-google-plus {
  color: #dd4b39;
}

.fa-facebook {
  color: #3b5998;
}
