<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
    <title>{{site.description_name}} | {{site.description_blog}} | {{page.title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="author" href="https://plus.google.com/+DomenicoLeoneLuciani/posts"/>
    <!-- SEO -->
    <link rel="canonical" href="{{site.url}}/{{page.url}}" />
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{site.description_name}} | {{site.description_blog}} | {{page.title}}">
    <meta itemprop="description" content="{{page.descr}}">
    <meta itemprop="image" content="{{site.url}}/public/img/pic.jpg">
    <!-- Open Graph data -->
    <meta property="og:locale" content="it_IT" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{site.description_name}} | {{site.description_blog}} | {{page.title}}" />
    <meta property="og:description" content="{{page.descr}}" />
    <meta property="og:url" content="{{site.url}}/{{page.url}}" />
    <meta property="og:site_name" content="{{site.description_name}} | {{site.description_blog}} | {{page.title}}" />
    <meta property="og:image" content="{{site.url}}/public/img/pic.jpg" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="dlion92">
    <meta name="twitter:title" content="{{site.description_name}} | {{site.description_blog}} | {{page.title}}">
    <meta name="twitter:description" content="{{page.descr}}">
    <meta name="twitter:creator" content="dlion92">
    <meta name="twitter:creator:id" content="dlion92">
    <meta name="twitter:image:src" content="{{site.url}}/public/img/pic.jpg">
    <meta name="twitter:domain" content="{{site.url}}/{{page.url}}">
    <!-- FINE SEO -->

    <!-- FOUNDATION -->
    <link rel="stylesheet" href="/public/css/foundation.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/css/custom.css" />
    <script src="/public/js/vendor/modernizr.js"></script>
</head>
<body>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="#"><span>{{site.description_name}}</span> | <span id="titolettoNavbar">{{site.description_blog}}</span></a></h1>
            </li>
             <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li>
                    <a href="{{site.url}}/about">
                        <span class="title-menutopbar">About</span>
                    </a>
                </li>
            </ul>
        </section>
    </nav>
    <div class="container">
        <div class="row text-center titolone">
            <div class="large-5 large-offset-1 columns" >
                <h1 id="titoloNome"><a href="{{site.url}}/">{{site.description_name}}</a></h1>
            </div>
            <div class="large-6 large-centered columns" >
                <h1 id="titoloDescr" class="large-text-left">{{site.description_blog}}</h1>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="row contentPost">
        <div class="show-for-small-only small-6 columns contentDataMobile">
            <span>{{page.date | date_to_string}}</span>
        </div>
        <div class="large-11 small-12 small-text-center columns contentTitoloPost">
            <h1>{{page.title}}</h1>
        </div>
        <div class="large-12 text-right columns contentDataDesktop show-for-medium-up">
            <span>{{page.date | date_to_string}}</span>
        </div>
        <div class="large-12 small-12 columns contentContentPost">
            {{content}}
        </div>
    </div>

    <script src="public/js/vendor/jquery.js"></script>
    <script src="public/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
